@import "../main.css";
@reference "../components/scrollbar.css";

@layer components {
  .layout {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: var(--color-root--text);
    background: var(--color-root);
    @apply scrollbar;
  }

  .layout .layout__header {
    border-block-end: 1px solid var(--color-layer--border);
    background: var(--color-layer);
    color: var(--color-layer--text);
    width: 100%;
    z-index: 20;
    position: sticky;
    top: 0;
  }

  .layout .layout__header .layout__header__content {
    padding-inline: var(--spacing-ui-padding-xl);
    padding-block: var(--spacing-ui-padding-sm);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: auto;
    /* max-width: var(--breakpoint-xl); */
  }

  .layout .layout__footer {
    border-block-start: 1px solid var(--color-layer--border);
    background: var(--color-layer);
    color: var(--color-layer--text);
    width: 100%;
    z-index: 20;
    padding-block: var(--spacing-ui-padding-sm);
  }

  .layout .layout__footer .layout__footer__content {
    padding-inline: var(--spacing-ui-padding-xl);
    padding-block: var(--spacing-ui-padding-sm);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: auto;
  }

  .layout .layout__row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-ui-gap);
  }

  .layout .layout__wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-inline: auto;
    /* max-width: var(--breakpoint-xl); */
    background-color: var(--color-root);
    position: relative;
  }
  
  .layout .layout__side {
    position: sticky; 
    top: var(--spacing-ui-xl);
    display: flex;
    flex-direction: column;
    background: var(--color-root);
    color: var(--color-root--text);
    max-width: var(--container-ui);
    min-width: var(--container-mini);

    width: auto;
    align-self: flex-start;
    height: calc(100vh - var(--spacing-ui-xl));
    overflow-y: auto; 
  }
  
  .layout .layout__main {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-inline: auto;
    position: relative;
  }

  .layout .layout__content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .layout .layout__article {
    margin-inline: auto;
    max-width: var(--container-ui-xl);
    padding: var(--spacing-ui-padding);
  }

  .layout__article h1,
  .layout__article h2,
  .layout__article h3 {
    scroll-margin-top: calc(var(--spacing-ui-xl) * 2);
  }
}
