.preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  margin-block: 1em;
  width: auto;
}

.preview__display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-ui-padding);
  width: 100%;
  background-color: var(--color-layer);
  border: 1px solid var(--color-layer--border);
  gap: var(--spacing-ui-gap);
  border-radius: var(--radius-ui);
  border-end-end-radius: var(--radius-none);
  border-end-start-radius: var(--radius-none);
}

.preview__display > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-ui-gap);
  width: 100%;
}

.preview__code {
  position: relative;
  width: 100%;
}

.preview__code > pre {
  align-items: start;
  max-width: 100%;
  width: auto;
  min-height: var(--spacing-ui-xl);
  border-radius: var(--radius-ui);
}

.preview__code > pre:focus-within,
.preview__code > pre:active {
  overflow: auto;
  overscroll-behavior: contain;
}

.preview:has(.preview__display) .preview__code {
  margin-block: 0;
}

.preview:has(.preview__display) .preview__code > pre {
  border-block-start: 0;
  border-start-end-radius: var(--radius-none);
  border-start-start-radius: var(--radius-none);
}

.preview__code > .clipboard {
  position: absolute;
  z-index: 1;
  top: var(--spacing-ui-padding);
  right: var(--spacing-ui-padding);
}
